{{#> layout }}
{{#* inline "head"}}
<script src="assets/links.js" defer></script>
{{/inline}}
<div class="container mx-auto">
  <dialog class="modal" id="createTokenDialog">
    <form method="post" class="card bg-base-100 p-8">
      <input type="text" name="username" placeholder="Identifiant" class="input input-bordered" />
      <input type="password" name="password" placeholder="Mot de passe" class="input input-bordered" />
      <button type="submit" class="btn btn-primary">Créer un lien</button>
    </form>
  </dialog>
  <div role="alert" class="alert hidden">
    <span></span>
  </div>
  <h1 class="text-3xl">Liens</h1>
  <button onclick="createTokenDialog.showModal()" class="btn btn-primary">Créer un lien</button>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Token</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each tokens}}
      <tr>
        <th>{{@index}}</th>
        <td>{{this.token}}...</td>
        <td>
          <button class="delete-token" data-id="{{this.id}}">Supprimer</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/layout }}

