{{#> layout }}
<div class="container mx-auto">
  <dialog class="modal" id="createTokenDialog">
    <form action="/api/calendar/ics-token" method="post" class="card bg-base-100 p-8" up-submit>
      <input type="text" name="username" placeholder="Identifiant" class="input input-bordered" />
      <input type="password" name="password" placeholder="Mot de passe" class="input input-bordered" />
      <button type="submit" class="btn btn-primary">Créer un lien</button>
    </form>
  </dialog>
  <pre>{{{json tokens }}}</pre>
  <h1 class="text-3xl">Liens</h1>
  <button onclick="createTokenDialog.showModal()" class="btn btn-primary">Créer un lien</button>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Token</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each tokens}}
      <tr>
        <th>{{@index}}</th>
        <td>{{this.token}}...</td>
        <td>
          <a href="/api/calendar/ics-token?token_id={{this.id}}" up-follow up-method="delete">Supprimer</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/layout }}

