{{#> layout }}
<div class="fixed inset-0 bg-[url('../images/cyu.jpg')] bg-cover bg-center blur-sm"></div>
<div class="fixed grid inset-0 place-items-center">
    <form method="post" class="card bg-base-100 p-8 gap-4">
        <input name="username" type="text" placeholder="Identifiant" class="input input-bordered" />
        <input name="password" type="password" placeholder="Mot de passe" class="input input-bordered" />
        <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
</div>
{{/layout }}
