<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CYU Calendar</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
         <script src="https://cdn.tailwindcss.com"></script> -->
    <link href="assets/main.css" rel="stylesheet"/>
    <script src="assets/main.js" defer></script>
    {{#> head}}{{/head}}
  </head>
  <body class="min-h-[100svh]">
    <header class="navbar bg-base-100">
      <a class="btn btn-ghost text-xl" href="/" up-follow>CYU Calendar</a>
      <nav class="menu menu-horizontal">
        <a href="/links" up-follow>Liens</a>
      </nav>
    </header>

    {{> @partial-block }}
  </body>
</html>
